.git
__pycache__/
*.py[cod]
*.log
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
.devcontainer/
.vscode/
.idea/
dist/
compose/envs/.env
compose/envs/.env.production
scripts/adhoc_script.py
